<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="fhCtrl">

<div>

<h2>My Family History List</h2>

<form ng-submit="fhAdd()">
    <input type="text" ng-model="fhPersonInput" size="20" placeholder="Person">
    <input type="text" ng-model="fhFatherInput" size="20" placeholder="Father">
    <input type="text" ng-model="fhMotherInput" size="20" placeholder="Mother">
    <br><br>
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in fhList">
    <input type="checkbox" ng-model="x.marked"> <span ng-bind="x.fhText"></span>
</div>

<br>

<p><button ng-click="remove()">Remove marked</button></p>

</div>

<script>
var app = angular.module('myApp', []); 
app.controller('fhCtrl', function($scope) {
    $scope.fhList = [{fhText:'Frank Jones, Billy Jones, Millie Smith', marked:false}];

    $scope.fhAdd = function() {
        $scope.fhList.push({fhText: $scope.fhPersonInput + ", " + $scope.fhFatherInput + ", " + $scope.fhMotherInput, marked:false});
        $scope.fhPersonInput = "";
        $scope.fhFatherInput = "";
        $scope.fhMotherInput = "";
    };

    $scope.remove = function() {
        var oldList = $scope.fhList;
        $scope.fhList = [];
        angular.forEach(oldList, function(x) {
            if (!x.marked) $scope.fhList.push(x);
        });
    };
});
</script>

</body>
</html>
